/* src/components/Navbar.css */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background-color: #fff;
}

.navbar-logo {
  display: flex;
  align-items: center;
  margin-right: 92px;
}

.default-logo {
  display: block; /* Show default logo by default */
}

.responsive-logo {
  display: none; /* Hide responsive logo by default */
}

.stroke-image {
  display: none; /* Initially hide stroke image */
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 48px;
}

.navbar-links a {
  color: #4E1C4E;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 125.882%; /* 20.141px */
}

.navbar-links .home-link {
  font-weight: 700;
}

.navbar-links a:not(.home-link) {
  font-weight: 400;
}

.navbar-search {
  display: flex;
  align-items: center;
  width: 284px;
  height: 50px;
  padding: 0px 12px 0px 24px;
  gap: 12px;
  border-radius: 12px;
  background: #4E1C4E;
}

.navbar-search .search-icon {
  width: 20px;
  height: 21px;
  flex-shrink: 0;
}

.navbar-search input {
  border: none;
  outline: none;
  background: transparent;
  color: rgba(255, 255, 255, 0.72);
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125.882%; /* 20.141px */
}

.navbar-search input::placeholder {
  color: rgba(255, 255, 255, 0.72);
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 125.882%; /* 20.141px */
}

.navbar-auth {
  display: flex;
  height: 39px;
  align-items: center;
  gap: 48px;
  color: #4E1C4E;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 125.882%; /* 20.141px */
}

/* Responsive styles */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 20px 12px;
  }

  .default-logo {
    display: none; /* Hide default logo on small screens */
  }

  .responsive-logo {
    display: block; /* Show responsive logo on small screens */
    width: 38px;
    height: 27px;
  }

  .stroke-image {
    display: block; /* Show stroke image on small screens */
    width: 30.75px;
    height: 20.5px;
    margin-left: auto; /* Push stroke image to the right */
  }

  .responsive-stroke-container {
    display: flex;
    width: 100%;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
    gap: 250px;
  }

  .navbar-links,
  .navbar-search,
  .navbar-auth {
    display: none;
  }
}
